{% include  '../../layout/header.html' %}
{% include  '../../layout/sidebar.html' %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-7 position-relative z-index-2">
            <div class="card card-plain mb-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex flex-column h-100">
                                <h2 class="font-weight-bolder mb-0">Halaman Hasil Split Data</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tambahkan konten lain yang diperlukan di sini -->

        </div>
    </div>
</div>

{% include  '../../layout/footer.html' %}
